@font-face {
    font-family: 'shine_typewriterregular';
    src: url('../fonts/shinetypewriter-lgwzd-webfont.woff2') format('woff2'),
         url('../fonts/shinetypewriter-lgwzd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: "Constantia Italic";
    src: url("../fonts/constantia_italic/68948ea9bc8b232cc5664e2aab39c80c.eot");
    src: url("../fonts/constantia_italic/68948ea9bc8b232cc5664e2aab39c80c.eot?#iefix")format("embedded-opentype"),
        url("../fonts/constantia_italic/68948ea9bc8b232cc5664e2aab39c80c.woff")format("woff"),
        url("../fonts/constantia_italic/68948ea9bc8b232cc5664e2aab39c80c.woff2")format("woff2"),
        url("../fonts/constantia_italic/68948ea9bc8b232cc5664e2aab39c80c.ttf")format("truetype"),
        url("../fonts/constantia_italic/68948ea9bc8b232cc5664e2aab39c80c.svg#Constantia Italic")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "Constantia";
    src: url("../fonts/constantia/0b9856633d4311a19df074ea509d8390.eot");
    src: url("../fonts/constantia/0b9856633d4311a19df074ea509d8390.eot?#iefix")format("embedded-opentype"),
        url("../fonts/constantia/0b9856633d4311a19df074ea509d8390.woff")format("woff"),
        url("../fonts/constantia/0b9856633d4311a19df074ea509d8390.woff2")format("woff2"),
        url("../fonts/constantia/0b9856633d4311a19df074ea509d8390.ttf")format("truetype"),
        url("../fonts/constantia/0b9856633d4311a19df074ea509d8390.svg#Constantia Italic")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "Constantia Bold";
    src: url("../fonts/constantia_bold/b411b0999020c9c25b8151e359197150.eot");
    src: url("../fonts/constantia_bold/b411b0999020c9c25b8151e359197150.eot?#iefix")format("embedded-opentype"),
        url("../fonts/constantia_bold/b411b0999020c9c25b8151e359197150.woff")format("woff"),
        url("../fonts/constantia_bold/b411b0999020c9c25b8151e359197150.woff2")format("woff2"),
        url("../fonts/constantia_bold/b411b0999020c9c25b8151e359197150.ttf")format("truetype"),
        url("../fonts/constantia_bold/b411b0999020c9c25b8151e359197150.svg#Constantia Italic")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

* {
    box-sizing: border-box;
}
body {
    
   font-family: 'Constantia', serif;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    position:fixed;
    
    color: #453a25;
}


.clanOriginInner {
    background-color:white;
    border:1px solid #453a25;
    line-height:15px;
    font-size:16px;
    padding:12px;
    display:inline-block;
    transform:scale(0.5);
    opacity: 0;
}

#origins {
    position:absolute;
    top:35%;
    transform:translateY(-50%);
    width:100vw;
    height:100vw;
    left:0;
}


.clanOrigin {
    
    position:absolute;
    width:400px;
    height:40px;
    margin-top:-20px;
    margin-left:-200px;
    text-align:center;


    /* animation: counterspin 60s infinite;
    animation-timing-function: linear; */
}

#originsInner {
    position:absolute;
    width:100%;
    height:100%;
    /* animation: spin 60s infinite;
    animation-timing-function: linear; */
}

#originsInner:after {
    content:'';
    width:100vw;
    left:0vw;
    top:0vw;
    height:100vw;
    z-index:-1;
    background-image:url(../images/scroll_gradient.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:600px;
    position:absolute;
}

@keyframes spin {
    from { transform: rotate(0) }
    to { transform: rotate(360deg) }
}

@keyframes counterspin {
    from { transform: rotate(360deg) }
    to { transform: rotate(0) }
}
svg#originsSVG {
    width:1080px;
    height:1080px;
}


svg#originsSVG div {
  color: black;
  height: 40px;
  overflow:visible;
  width:400px;
  position:relative;
  top:50%;
  text-align:center;
  z-index:10000;
}
svg#originsSVG div span {
    display:inline-block;
    padding-left:17px;
    padding-top:3px;
    padding-right:17px;
    font-size:23px;
    line-height:40px;
    background-color:white;
    box-shadow: 0 0 15px #000000aa;
}
svg#originsSVG path {
  stroke-width: 3px;
  stroke:#aa7f26;
  stroke-dasharray: 0 14 0;
  z-index:-1000;
}
svg#originsSVG g#rotate {
  transform-origin: 50% 50%;
}


svg#originsSVG.initialised div {
    
  animation: counterrotate 45s linear infinite;
}

svg#originsSVG.initialised g#rotate {
    
  animation: rotate 45s linear infinite;
}

svg#originsSVG g g {
    transform-origin: 540px 540px;
    transform:scale(0.5);
    opacity: 0.0;
    transition: transform 0.2s, opacity 0.2s;
}

svg#originsSVG g g.active {
    transform:scale(1);
    opacity:1.0;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes counterrotate {
  from {
    transform: translateY(-50%) rotate(0);
  }

  to {
    transform: translateY(-50%) rotate(-360deg);
  }
}

#bigName {
    text-align:center;
    position:absolute;
    width:100%;
    height:100%;
    z-index:100000;
    pointer-events:none;
    opacity:0;
    display:block;
}

#bigName svg.scroll {
    position:relative;
    top:35.5%;
    transform:translateY(-50%);
    width:630px;
    height:120px;
    display:block;
    margin:0 auto;
}

#bigName svg#dottedLines {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}


#fifoOuter {
    width:500px;
    height: 325px;
    position:relative;
    margin:0 auto;
    overflow:hidden;
    z-index:100000;
    background-size:100%;
    background-image: url(../images/frame_xparent.png);

    mix-blend-mode: multiply;
}
#fifoHolder {
    position:relative;
    width:300px;
    left:108px;
    top:92px;
    padding-top:25px;
    height:125px;
    overflow:hidden;
    clip-path: ellipse(135px 100px at 50% 50%);
}
#fifo {
    position:absolute;
    width:300px;
    top:0;
    height:300px;
    overflow:hidden;
}
#fifoHeading {
    font-size:23px;
    letter-spacing:-0.5px;
    position:relative;
    top:90px;
}
.fifoRow {
    height:25px;
    overflow:hidden;
    max-width:300px;
    line-height:25px;
    opacity: 0.25;
    transform:scale(0.8);
    text-overflow:ellipsis;
    font-size:25px;
    transition: opacity 1.0s, transform 1.0s;
}
.fifoRow.focused {
    opacity:1;
    transform:scale(1);
    
}

#globeViz {
    position: fixed;
    z-index: 1;
}

/*
#globeViz:after {
    content: '';
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: #002F3B;
background: radial-gradient(circle,rgba(0, 47, 59, 0) 0% ,rgba(0, 47, 59, 0.0) 20%, rgba(0, 47, 59, 0.2) 35%, rgba(0, 47, 59, 0.85) 55.6%, rgba(0, 47, 59, 1) 56% );
z-index:100000;
mix-blend-mode:multiply;
}
*/
#mobile {
    text-align:center;
    height:auto;
    overflow:auto;
    position:static;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

#keyboard-holder {
    position:fixed;
    bottom:27.5vh;
    left:20%;
    width:60%;
    z-index:100000;
    display:none;
}

#outlier {
    background-color:rgba(0, 0, 0, 1.0);
    color:white;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:10000000;
    transition: opacity 0.5s;
    opacity:0;
    display:none;
    position:absolute;
}
#outlier.visible {
    opacity:1;
    display:block;
}

#outlier h2 {
    text-align:center;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
#mapHolder {
    position:relative;

    /* top:-200px; */
    opacity: 0.000001;
}


#mapHolder::after {
    pointer-events:none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(6px);
    transition: backdrop-filter 2s;
    mask-image: linear-gradient(
        180deg, 
        black 0%, 
        black 15.0%, 
        rgba(0, 0, 0, 0) 25.0%, 
        rgba(0, 0, 0, 0) 50%, 
        black 70%, 
        black 100%);
    opacity:0.0001;
    transition: opacity 5s;
}

#mapHolder.tiltshift::after {
    opacity:1;
}

#tlOuter {
    position:fixed;
    
    left:1.5vh;
    right:1.5vh;
    padding:1.5vh;
    padding-top:3vh;
    bottom:9.5vh;
    z-index:100000;
    display:none;
    background-color:#f2eddccc;
}

.tlEvent {

    position: absolute;
    width: 22px;
    height: 22px;
    top: 29px;
    border-radius: 50%;
    border:2px solid #dabc61;
    background-color: #003b48;
    left: auto;
    z-index:100;
    right: 0;
    margin-right: -11px;
}
#tlConnector {
    height:1px;
    margin-left:10px;
    border-top:2px dotted #aaaaaa;
    position:absolute;
    top:40px;
}
#tl {
    position:relative;
}
#tlStrip {
    border-bottom:1px solid black;
}
#tlStrip::after {
  content: "";
  display: table;
  clear: both;
}
.tlItem label {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    font-size:18px;
}
.tlItem label.minor {
    font-size:14px;
    top:3px;
}
.tlItem {
    position:relative;
    display:block;
    float:left;
    text-align:center;
}
.tick {
    display:block;
    width:1px;
    height:30px;
    margin:0 auto;
    margin-top:25px;
    background-color:#453a25;
}
.tick.major {
    width:2px;
}
#tlPointer {
    position:absolute;
    bottom:-26px;
    font-size:25px;
    width:20px;
    text-align:center;
}

#timelineStrip {
    position:absolute;
    left:0;
    height:40%;
    width:auto;
}
.timelineItem {
    width:102px;
    padding-left:60px;
    padding-right:60px;
    text-align:center;
    font-size:40px;
    color:white;
    line-height:40px;
    float:left;
    background-position:center 0;
    background-image:url(../images/timeline_bg.png);
    
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

input#latlon {
    position:absolute;
    left:10px;
    top:10px;
    width:300px;

}
#result {
    position:absolute;
    left:350px;
    top:10px;
    height:20px;
    border:1px solid #453a25;
}
button#go {
    position:absolute;
    top:10px;
    left:310px;
}
button.restart {
    pointer-events:none;
    opacity:0;
    transition:opacity 0.5s;
}

button.restart.visible {
    pointer-events:auto;
    display:block;
    opacity:1;
}

label.landmark {
    width:200px;
    text-align:center;
    left:-100px;
    font-size:25px;
    line-height:27px;
    top:0;
    height:200px;
    position:relative;
    top:-200px;
    z-index:1;
}

label.landmark:after {
    content: '';
    position:absolute;
    width:1px;
    height:170px;
    left:50%;
    bottom:0;
    background-color:black;
    box-shadow:
        0 0 5px white,
        0 0 10px white;
    transition: opacity 0.5s;
}
label.landmark.hidden:after {
    opacity:0;
}
label.landmark.parish:after {
    display:none;
}
label.landmark.large {
    text-transform:uppercase;
}

label.landmark.medium {
    font-size:21px;
    line-height:27px;
}

label.landmark.small {
    font-size:18px;
    line-height:24px;
    font-style:italic;
}

label.landmark.village {
    font-size:14px;
    line-height:21px;
}



label.landmark.parish {
    opacity:0;
    top:0;
    margin-top:-197px;
    height:500px;
    line-height:1.1;
    font-family: 'Constantia Bold';
    background-repeat:no-repeat;
    background-size:85%;
    padding-top:235px;
    text-transform:uppercase;
    z-index:100000 !important;
    background-position:86px 50px;

}

label.landmark span {
    display:inline-block;
    letter-spacing:1px;
    text-shadow:
        0 0 20px white,
        0 0 10px white,
        0 0 5px white;
}



label.overviewLabel {
    width:200px;
    font-size:20px;
    text-align:center;
    margin-left:-120px;
    margin-top:0;
    text-shadow: 
        0 0 5px white,
        0 0 10px white,
        0 0 15px white;
    opacity: 0;
    height:100px;
    top:-100px;

    position:relative;
}

label.overviewLabel.suppress span {
    display:none;
}
label.overviewLabel:after {
    content: '';
    position:absolute;
    height:75px;
    bottom:0;
    width:1px;
    background-color:black;
    left:120px;
    transform-origin: 50% 100%;
    transform:rotate(-15deg);
}

label.overviewLabel.suppress:after {
    width:5px;
    height:5px;
    bottom:2.5px;
    left:117.5px;
    background-color:black;
    transform:none;
    border-radius:50%;    
}


label.landmark.parish video {
    width:70%;
    position:absolute;
    top:7%;
    left:36%;
}
label.landmark.parish.noText {
    stop:0;
}


.mapLink {
    position:absolute;
    width:20px;
    height:20px;
    border:2px solid #dabc61;
    background-color: #003b48;
    margin-left:-10px;
    margin-top:-10px;
    border-radius:50%;
    z-index:1;
}
#mapHeading {
    position: fixed;
    z-index: 10000;
    pointer-events: none;
    top: 2vh;
    text-align: center;
    width:100%;
    font-size: 35px;
    display:none;
}
#mapHeadingInner {
    position:relative;
    display:inline-block;
    margin:0 auto;
    padding-left:80px;
    padding-right:80px;
}
#mapHeadingInner:before {
    content: "";
    position:absolute;
    top:50%;
    margin-left:-80px;
    height:1px;
    background-color:#453a25;
    width:70px;
}
#mapHeadingInner:after {
    content: "";
    position:absolute;
    top:50%;
    right:0;
    height:1px;
    background-color:#453a25;
    width:70px;
}
#insetMarker {
    position:absolute;
    left:0;
    top:0;
    width:8px;
    height:8px;
    background-color:white;
    border:0px solid #453a25;
    margin-left:-4px;
    margin-top:-4px;
    border-radius:50%;
    opacity:0;
    transition: opacity 0.5s;
    z-index:2;
    pointer-events:none;
}
#insetMarker.show {
    opacity:1;
}
#insetInner canvas {
    position:absolute;
    top:0;
}
#insetOverlay {
    position:absolute;
    height:100%;
    margin:0 auto;
    overflow:hidden;
}

#inset p {

    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #453a25;
    position: absolute;
    top: 0;
    margin-left:10px;
    margin-right:10px;
    padding-top: 15px;
    z-index: 111;
}
#inset p.small {
    font-size:13px;
    top:auto;
    bottom:0;
    text-align:center;
    width:100%;
}

#insetInner { 

    margin:25px;
    margin-left:-25px;
    opacity:0.75;
    border-radius:1vh;
    position:relative;
}
#inset {
    position:fixed;
    bottom:17.5vh;
    left:1.5vh;
    width:19vh;
    z-index:1000;

}
#inset img {

    width: 100%;
    margin: 0 auto;
    display: block;
    opacity: 0.75;
}

#descriptionHolder {
    position: absolute;
    bottom: 17.5vh;
    line-height: 32px;
    left: 21vh;
    right: 0;
    pointer-events: none;
    z-index: 10000;
    opacity: 0;
    font-size: 27px;
    line-height: 32px;
    pointer-events: none;
    z-index: 10000;
    opacity: 0;
    background-color: #f2eddccc;
    height:22vh;
}
#descriptionInner p {
    padding:0;
    margin:0;
    padding-left:8%;
    padding-right:8%;
    margin-bottom:20px;
    text-align:center;
    color:white;
    opacity:0;
    color:#453a25;
    font-size:24px;
    transform:translateY(100px);
}
#descriptionInner {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    width:95%;
    margin-top:10px;
    color:#453a25;
    opacity: 0;
}

#stats, #inset, #qrHolder {

    background-color:#f2eddccc;
    opacity:0;
    z-index:100;
    display:none;
}
#overviewTitle {
    position:fixed;
    left:3.5vh;
    top:15.5vh;
    pointer-events:none;
    width:22vh;
    z-index:10000;
    text-align:center;
    
    display:none;
}
#overviewTitle h2 {
    margin:0;
    font-size:27px;
}
#overviewTitle h3 {
    font-size:20px;
    font-family: 'Constantia Italic';
}

#overviewFrame {

    position: fixed;
    left: 3vh;
    bottom: 15vh;
    width: 20vh;
    z-index: 100000;
    pointer-events: none;
    background-image: url(../images/frame.jpg?r=w);
    mix-blend-mode: multiply;
    background-size: 100%;
    height: 13vh;
    text-align:center;
    display:none;
}
#overviewFrame h4 {
    margin-top:2.5vh;
    font-size:25px;
    padding:0.25vh;
    padding-left:0.5vh;
    padding-right:0.5vh;
    background-color:#cccccc;
    border-radius:50%;
    display:inline-block;
    margin-bottom:0.2vh;
}
#ofTitle {
    font-size:13px;
    width:40%;
    margin-left:30.0%;
}

#inset {
    display:block;
}

#ribbon {
    opacity:0;
    z-index:1000;
}

#popTitle {
    position:absolute;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    width: 50%;
    margin-top:30px;
    margin-left: 12.5%;
    margin-right: 0;
}
.population {

    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    line-height: 40px;
}
#year {
    position:absolute;
    font-size:60px;
    line-height:60px;
    left:40px;
    top:35px;
    z-index:10000;
    color:white;
    transform:translateX(-400px);
    opacity:0;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}
.next, #begin, .back, .restartOverview {
    position:absolute;
    left:50%;
    width:200px;
    margin-left:-105px;
    bottom:30px;
    font-size:25px;
    line-height:30px;
    padding:13px;
    padding-top:15px;
    border-radius:8px;
    z-index:10000;
    text-align:center;
    font-family: 'Constantia';

    border:2px solid #dabc61;
    background-color: #003b48;
    color:white;
    background: #003B48;
    background: linear-gradient(0deg,rgba(0, 59, 72, 1) 0%, rgba(0, 39, 47, 1) 100%);
    box-shadow: 0 0 5px #000000aa;
}

.restartPanel {
    position:absolute;
    bottom:20px;
    right:20px;
    font-size:18px;
    line-height:18px;
    box-shadow:none;
    z-index:1000000;
    background-color:transparent;
}

#navOverview .back, .restartOverview {
    margin-left:0;
}
.restartOverview {
    background: transparent;
    color: #003B48;
    border: 2px solid #003B48;
}


#begin {
    display:none;
    opacity: 0;
    bottom:40%;
}



#nav {
    position:absolute;
    bottom:15.75vh;
    width:100%;
    left:0;
    transform:translateY(200px);
    text-align:center;
    z-index:100000;
    opacity:0;
    display:none;
}
.next, .back {
    position:static;
    display:inline-block;
    margin-left:20px;
    margin-right:20px;
    z-index:10000;
    transition: background-color 1.0s;

}

#tlYear {
    position: absolute;
    bottom: 36.25vh;
    font-size: 50px;
    width: 516px;
    z-index: 20000;
    color: white;
    text-align: right;
    padding-top:23px;
    padding-right:130px;
    right: 0;
    background-image: url(../images/scroll_year.png);
    height: 123px;
    pointer-events:none;
    background-position: center;
    display:none;
}

#nav.disabled .next, #nav.disabled .back {
    background-color:#a8b3b1;
}

#logo {
    position:absolute;
    right:40px;
    top:40px;
    z-index:1000;
}
#logo img {
    display:block;
    width:80px;
}
#compassHolder {

    position: absolute;
    right:3vh;
    z-index: 500000000;
    opacity: 0;
    top:3vh;
}
#compass {
    
    width:150px;
    height:150px;
    display:inline-block;
    mix-blend-mode:multiply;
    z-index:20000;

}
#logo img, #compass img {
    display:block;
    width:80px;
}
#compass img {
    width:150px;
    opacity:0.75;
}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display:none !important;
}
#stats {

    position: absolute;
    left: 2vh;
    bottom: 2vh;
    z-index: 10000;
    width: 21vw;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    opacity: 0;
    height: 16.7vh;
}

#additional {
    background-color:transparent;
    position: absolute;
    left: 10vh;
    bottom: 1vh;
    z-index: 10000;
    right:10vh;
    overflow: hidden;
}
#additionalInner {
    text-align:center;
    font-weight:100;
    opacity: 0.5;
    padding:1vh;
    padding-top:1.3vh;
}

#additionalInner h3 {
    margin:0;
    padding:0;
    line-height:1.3;
    font-size:1.2vh;
}

#additionalInner p {
    color:white;
    transition: color 0.5s;
}

.mapMode #additionalInner p {
    color:black;
}

.stat {
    position:relative;
    float:left;
    width:30%;
    text-align:right;
    top:8px;
    font-size:22px;
}

.statRow {
    position:relative;
    height:40px;
    width:70%;
    margin:0 auto;

    transform:translateX(-400px);
}
.statLabel {
    position:relative;
    width:70%;
    text-transform:uppercase;
    font-size:22px;
    top:8px;
    float:left;
}

p#historical {
    font-size:21px;
    line-height:25px;
}
#mobile p {
    font-size:18px;
    line-height:1.2;
}
#mobile p.small {
    font-size:15px;
}
#backgroundFill {
    position:fixed;
    bottom:0;
    width:100%;
    height:30vh;
    z-index:10;
    background: #003B48;
    background: linear-gradient(0deg,rgba(200, 200, 180, 1) 0%, rgba(200, 200, 180, 0) 100%);
    display:none;
}
#ribbon {

    margin: 0 auto;
    left:0;
    width: 100vw;
    height: 139px;
    background-image: url(../images/scroll.png);
  
    position: fixed;
    z-index: 100000;
  
    top: 5.5vh;
    background-repeat: no-repeat;
    background-position: left;
}

#ribbonInner {
    text-align: left;
    color: white;
    font-size: 43px;
    line-height: 43px;
    top:35px;
    left:220px;
    position: relative;
}
#frame {
    position: fixed;
    left: 0.75vh;
    right: 0.75vh;
    top: 0.75vh;
    bottom: 13.5vh;
    z-index:1000000;
    border: 1px solid black;
    border-radius: 2px;
    pointer-events:none;
    transition: bottom 1s;
}
#frame.mapActive {

    bottom: 8.5vh;
}

#nrs_logo {
    width:200px;
    display:inline-block;
    margin-bottom:5px;
    transition: opacity 1s;
}

#nrs_logo.mapActive {
    opacity: 0;
}

#mobile #ribbon {
    margin-bottom:0;
    width:90%;
    height:0;
    padding-bottom:15.5%;
    background-size:100%;
    position:relative;
    margin-top:-20px;
}
.mobile_entry {
    border-bottom:1px solid #888;
    margin-left:15px;
    margin-right:15px;
}
#mobile #ribbonInner {
    position: relative;
    top: auto;
    line-height: 5vw;
    font-size: 6vw;
    padding-top: 10%;
}
#loading {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:60px;
    text-align:center;
    z-index:1000000;
    color:#453a25;
    width:100%;
}

#mobile h2 {
    background-color:#888;
    color:white;
}

#qrHolder {
    position: fixed;
    right:1.5vh;
    bottom:10vh;
    width:20vh;
    background-color:transparent;
    border:1px solid white;
    text-align: center;
    padding:1vh;
    padding-top:3vh;
    padding-bottom:3vh;
}
#qrHolder p {
    width:100%;
    margin: 0;
    padding: 0;
    text-align:center !important;
    font-size: 22px;
    text-align: left;
    line-height: 1.1;
    margin-bottom:25px;
}

#qrHolder img {
    border:2px solid #fcc45d;
    display: inline-block;
    width: 50%;
    height: auto;
    margin-left: 0;
    border-radius: 0.5vh;
}
#qrBlurb {
    margin-top:1vh;
}
#qrHolder p.small {
    font-size:14px;
    margin-bottom:0;
}

/* brought in from Vue version 1 app */
button {
    background-color:transparent;
    font-family: 'Constantia';

  color: #00242f;
  border:1px solid #00242f;
  font-size:25px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #b89b6e;
  border-radius: 5px;
  border-width: 1px;
  font-style: italic;
  box-shadow: 0 0 50px #00242faa;
}
button.restart, 
button.overview
{
    position: absolute;
    left: 7vh;
    text-decoration:underline;
    font-size:19px;
    bottom: 15vh;
    z-index: 1000000;
    background-color:transparent;
    padding:0;
    border-width:0;
    box-shadow:none;
}
button.overview {
    left:auto;
    right:4vh;
    display:none;
}
#navOverview {
    position:fixed;
    bottom:10vh;
    left:2.1vh;
    z-index:1000000;
    display:none;
}
#navOverview .back {
    display:inline-block;
}
#navOverview .restartOverview {
    position:static;
    display:inline-block;
    opacity: 1 !important;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

nav {
  text-align: center;
}
nav div, nav a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.progressBar {
    width: 300px;
    border-radius: 5px;
    position: relative;
    background-color: #444;
    height: 15px;
    
    margin: 0 auto;
    margin-top: 2vw;
}
.progressBarInner {
  position: absolute;
  left: 0px;
  width: 0%;
  bottom: 0;
  top: 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: #999;
}

input, input.maptiler-geocoder {
    font-size: 1.5vw;
    padding: 1vw;
    width: 30vw;
    border-width: 0;
    background-color: #eeeeee;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-left:5px;
    margin-right:5px;
}

input {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width:40%;
}


.maptiler-geocoder-results {
  background-color: white;
}
.maptiler-geocoder-results div {
  border-bottom: 1px solid #ccc;
}
.maptiler-geocoder-results .item-name {
  font-weight: bold;
  margin-right: 10px;
}

.nameOuter, .origin {
    position:relative;
}
.nameOuter p, .origin p {
    width:30%;
    margin:0 auto;
    font-size:20px;
    margin-top:60px;
}
#countryResults, #searchResults {
    position:absolute;
    width:100%;
    bottom:8.75vh;
    left:0;
}
.searchResult, .country {
    font-size:25px;
    padding-top:10px;
    padding-bottom:10px;
    width:30vw;
    margin:0 auto;
    color:black;
    border-bottom: 1px solid grey;
    background-color:#ffffffcc;
    text-transform:capitalize;
    backdrop-filter:blur(5px);
}
.searchResult:last-of-type, .country:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.searchResult.insufficient_records {
    
    background-color:#ccccccaa;
    color:#00000044;
}
.searchResult span {
    display:block;
    font-size:13px;

}


.popup {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.popup {
  background-color: #333;
  z-index: 10;
}

.popup h3, .popup h2 {
  color: white;
}

#panels {
    position:absolute;
    left:0;
    right:0;
    top:0;
    z-index:10000;
    height:100vh;
    display:none;
}

.panel {
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:100vh;
    opacity: 0;
    display:none;
    z-index:10;
}

.panel#p_interstitial h2 {
    text-shadow: 0 0 15px rgba(100, 100, 100, 1);
}
.panel#p_home {
    transform:translateX(0);
}

.mainInner {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#app {
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: normal;
}

.centrePanel, .topPanel, .bottomPanel {
  margin: 0 auto;
  text-align: center;
}
.centrePanel {
    position:absolute;
    top:50%;
    width:100%;
    transform:translateY(-50%);
}

#p_home .topPanel {
    margin-top:3vh;
}
#p_home h3 {
    font-size:30px;
    padding:0;
    margin:0;
    font-family:'Constantia Italic';
    width:100%;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    text-shadow:
        0 0 2px white,
        0 0 5px white,
        0 0 10px white,
        0 0 25px white;
}

.centrePanel button, .topPanel button, .bottomPanel button {
  margin-top: 0.5vw;
}

.centrePanel > h1, .centrePanel > h2, .centrePanel > h3,
.topPanel > h1, .topPanel > h2, .topPanel > h3,
.bottomPanel > h1, .bottomPanel > h2, .bottomPanel > h3 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.panels_underlay {
    background-color:#09353f;
    position:fixed;
    width:100%;
    bottom:0;
    left:0;
    height:47vh;
    z-index:1;
    opacity: 0;
    transform:translateY(200px);
}
.panels_background {

    background-image: url(../images/bckgrd.jpg);
    position:fixed;
    width:100vw;
    bottom:0;
    left:0;
    height:100vh;
    z-index:-1;
}
.topPanel {
    margin-top:50px;
}
.topPanel h2 {
    color: #fdfae6;
}
.bottomPanel {
    position:absolute;
    width:100%;
    top:52vh;
    left:0;
    color:white;
}
.panels_heading {
    width:100%;
    text-align:center;
    margin-top:4vh;
}
.panels_heading h2 {
    color:white;
}
.panels_heading h2.previous_visitors_heading,
.panels_heading h2.first_visitor_heading {
    display:none;
}
#stgiles_logo {
    width:100px;
}
.bottomPanel.noMargin {
    bottom:5vh;
}

.pickPanel h4 {
  text-align: left;
  font-size: 1.3vw;
  margin-left: 0.25vw;
}


.pickPanel {
  width: 80%;
  margin: 0 auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.pickPanelInner {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5vw;
}

.portraitTag {
  display: inline-block;
  width: 5vw;
  border-top-left-radius: 2.5vw;
  border-top-right-radius: 2.5vw;
  border-bottom-left-radius: 0.25vw;
  border-bottom-right-radius: 0.25vw;
  background-color: #eee;
  overflow: hidden;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
}
.portraitTag img {
  margin-top: 5%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 50%;
  display: block;
}
.portraitTag h5 {

  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 0.8vw;
  line-height: 1.2;
  padding-bottom: 10%;
  margin-top: 7%;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

.textTag {
  display: inline-block;
  background-color: #eee;
  padding: 0.5vw;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  border-radius: 0.25vw;
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
  font-size: 0.8vw;
}



.maptiler-geocoder-results {
    z-index:1000000;
}
  .maptiler-geocoder-results>div {
    padding:  1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-size: 1vw;
  }
  .maptiler-geocoder-results .item-type {
    display: none;
  }
  .maptiler-geocoder-results .item-context {
    font-size: 1vw;
  }